html
{
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
}
body
{
  background-color: white;
  color: black;
}

#main-container
{
  margin: 0 auto;
  width: 100%;
}

.filters-container
{
  position: relative;
  font-size: 1.3rem;
  text-align: center;
  margin-bottom: 20px;
  .filter
  {
    display: inline-block;
    label, input
    {
      display: inline-block;
    }

    input
    {
      margin-right: 15px;
    }
    display: inline-block;
  }

  .btn.refresh
  {
    font-size: inherit;
  }
}

.paginator
{
  margin-bottom: 20px;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  a
  {
      display: inline-block;
      margin-right: 5px;
      color: #4078c0;
      width: 50px;
      text-decoration: none;
      font-size: 1.5rem;
      &:hover, &:active, &:link
      {
        color: inherit;
      }

      &.selected
      {
        color: white;
        background-color: #4078c0;
      }
  }
}


@mixin static-square($size)
{
  width: $size;
  height: $size;
}
.pictures-container
{
  text-align: center;
  font-size: 0;
  .image-result
  {
    position: relative;
    display: inline-block;
    @include static-square(200px);

    img
    {
      @include static-square(200px);
      -webkit-transition: transform 500ms, opacity 500ms;
      transition: transform 500ms, opacity 500ms;
      opacity: 0.7;
      cursor: pointer;

      &.hovered
      {
        transform: scale(1.5);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 99;
        opacity: 1;
        -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
      }

      &.hidden
      {
        opacity: 0;
      }
    }
  }


}
